<!-- [Cyrillux: container for one toolbar action (action.hbs)] -->
{{!-- Template uses string variables for action id, action icon and action text --}}

<div id={{actionId}} class="toolbar-action">

  <div class="toolbar-action-icon">
    <span class="material-symbols-outlined">{{actionSymbol}}</span>
  </div>

  <div class="toolbar-action-text">
    {{actionText}}
  </div>

  <div class="toolbar-action-icon icon-expand">
    <span class="material-symbols-outlined"></span>
  </div>

</div>