<!-- [Cyrillux: container for toolbar actions (actions.hbs)] -->

<div class="toolbar-actions">

  {{> localPartials/toolbar/action actionId="recordSearchAction" actionSymbol="search" actionText="Hae tietokannasta"}}

  {{> localPartials/toolbar/action actionId="recordImportAction" actionSymbol="upload" actionText="Tuo tiedostosta"}}

  {{> localPartials/toolbar/action actionId="recordConfigureAction" actionSymbol="transform" actionText="Valitse translitteroinnit"}}

  {{> localPartials/toolbar/action actionId="recordViewAction" actionSymbol="settings" actionText="Näkymän asetukset"}}

</div>