<!-- [Cyrillux toolbar (toolbar.hbs)] -->

<div class="toolbar">

  {{!-- Toolbar contains several actions --}}
  {{> localPartials/toolbar/actions}}

  {{!-- Every action has it's own dropdown --}}
  {{> localPartials/toolbar/dropdowns}}

</div>