<!-- [Cyrillux: container for source records list panel  (recordListPanel.hbs)] -->

<div class="panels">

  {{> localPartials/panels/panel
  panelId="sourceRecordListPanel"
  panelHeaderText="Haetut ja tuodut tietueet"
  panelContents=(array (object content="localPartials/record/select"))
  }}

</div>