# Use shared Melinda UI application resources:
SHARED_PARTIALS_LOCATION='../node_modules/@natlibfi/melinda-ui-commons/src/views/partials'
SHARED_PUBLIC_LOCATION='../node_modules/@natlibfi/melinda-ui-commons/src'
SHARED_VIEWS_LOCATION='../node_modules/@natlibfi/melinda-ui-commons/src/views'

# Melinda APIs configuration:
MELINDA_API_PASSWORD=''
MELINDA_API_URL=''
MELINDA_API_USERNAME=''
SRU_API_URL=''

# If app uses Aleph login:
ALEPH_USER_LIBRARY=''
ALEPH_X_SVC_URL=''
JWT_SECRET=''
OWN_AUTHZ_API_KEY=''
OWN_AUTHZ_URL=''

# If app uses Keycloak login:
KEYCLOAK_AUDIENCE=""
KEYCLOAK_BASE_URL=''
KEYCLOAK_CLIENT_ID=''
KEYCLOAK_ISSUER_BASE_URL=''
KEYCLOAK_SECRET=''

# Optional configuration:
HTTP_PORT=''
LOG_LEVEL=''