<!-- [Cyrillux: component for previewing the transliterated record (previewTransliterated.hbs)] -->
<!-- NV: this is a temporary file, slighly modified copy of preview.hbs. I might remove this eventually. The current purpose is not to use same id twice -->

{{> sharedPartials/editorButtons }}

<div id="editorNotes" class="note"></div>

<div id="transliteratedRecordPreview" class="marc-record"></div>
