<!-- [Cyrillux: component for searching a record (search.hbs)] -->

<div class="form-field-container">

  <div autofocus class="input-wrapper">
    <input id="recordSearchInput" type="text" placeholder="Syötä Melinda-ID">
  </div>

  <div class="button-wrapper">
    <button id="recordSearchButton" class="icon-on-left" tooltip-text="Hae tietue Melinda-ID:llä">
      <span class="material-symbols-outlined">search</span>
      Hae
    </button>
  </div>

</div>