<!-- [Cyrillux: component for changing app view settings and resetting records (view.hbs)] -->

<div class="form-field-container">

  <div class="button-wrapper">
    <button id="previewResetButton" class="icon-on-left alternate-blue tooltip"
      tooltip-text="Säilyttää tietuelistat, mutta päivittää esikatseluruudut aloitustilaan">
      <span class="material-symbols-outlined">restart_alt</span>
      Tyhjää tietuiden esikatseluruudut
    </button>
  </div>

  <div class="button-wrapper">
    <button id="appResetButton" class="icon-on-left alternate-red tooltip"
      tooltip-text="Poistaa kaikki tiedot näkyvistä, tyhjentää tietuelistat ja päivittää esikatseluruudut aloitustilaan">
      <span class="material-symbols-outlined">backspace</span>
      Tyhjää kaikki tiedot ja palaa aloitusnäkymään
    </button>
  </div>

</div>